bin/
obj/
*.user
*.suo
*.pdb
*.log
.vs/
packages/
*.nupkg
*.dll
!ARCYN.UI/Assets/**
ARCYN.exe
ARCYN.dll
ARCYN.deps.json
ARCYN.runtimeconfig.json
publish/
ARCYN/ARCYN.exe
ARCYN/arcyn_launch.log
session.md
vroken.md
explanation.txt
arcyn.json
ARCYN/ARCYN.UI/arcyn.json

# Strict binary ignore
*.exe
*.dll
*.pdb
*.obj
